/* Navbar section */
.navbar {
  background-color: #fff75e;
  padding-bottom: 1%;
  color: #211446;
}
.navbar-light .navbar-brand {
  color: black;
} 
.navbar-light .nav-link {
  color: white;
}

#spacing {
  padding-left: 40px;
}
/* Hero Section */
#hero {
  padding-top: 50px;
  color:#211446;
  background-color: #fff75e;
  /*background-image: url(/img/schoolkids.jpg);*/
  padding-bottom: 50px;
  font-family: 'Be Vietnam Pro', sans-serif;
}

@media only screen and (max-width: 1120px) {
  .kidThinking {
    display: none;
  }

  #hero .col-8 {
    width: 100%;
  }
}

img {
  max-width: 1000px;
}

#hero h1 {
  max-width: 75%;
}

#hero p {
  max-width: 75%;
}

.display-8 {
  color: gray;
  font-size: 20px;
  font-weight: 200;
  word-spacing: 5px;
}

#image {
  background: linear-gradient(#2a4ab6,#17eb6b);
  border-radius: 2%;
  width: 110%;
}

.kidThinking {
  max-width: 120%;
}

@media only screen and (max-width: 1000px) {
  #hero {

  }
  #hero h1 {
    max-width: 100%;
  }
  #hero p {
    max-width: 100%;
  }
  #hero .form-control {
    max-width: 100%;
  }
  #image {
    min-width: 120%;
  }
}

/*Metrics Section*/
.metrics {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #211446;
  color: white;
}

/*About Us Section*/
@media (min-width: 768px) {
  .h-md-100 { height: 75vh; }
}
.bg-indigo { background: white; color: #211446;}
.bg-blue {background-color: rgb(231, 255, 237); color: #211446; overflow: scroll; direction: rtl;}
.bg-blue::-webkit-scrollbar {
  width: 10px;
}
.bg-blue::-webkit-scrollbar-track {
  background: #cccccc; 
  XXborder-radius: 5px;
}
.bg-blue::-webkit-scrollbar-thumb {
  XXborder-radius: 5px;
  background: black;
}
.bg-blue > * { direction: ltr; }
#faq {
  font-family: 'Be Vietnam Pro', sans-serif;
}

/*Programs Section*/
#programs {
  background-color: #FAFAFA;
  padding-top: 25px;
  color: #211446;
  border-radius: 2%;
  padding-top: 50px;
  padding-bottom: 50px;
}
#programs .card-body {
  padding: 10%;
  margin-top: 100px;
  text-align: center;
}
.programs h1 {
  color: #211446;
}

/*ValProp*/
#valProp{
  padding-top: 50px;
  padding-bottom: 50px;
  font-family: 'Be Vietnam Pro', sans-serif;
  background-color: #FAFAFA;
}
.kidHappy {
  max-width: 120%;
}
#happyImage {
  background: linear-gradient(#561fe3,#0295c4);
}
#valueProp1 {
  padding-left: 100px;
  padding-top: 50px;
}

#valueProp1 p {
  font-weight: 200;
}
/*Footer*/
.footer-dark {
  padding:50px 0;
  color:#f0f9ff;
  background-color:black;
}

.footer-dark h3 {
  margin-top:0;
  margin-bottom:12px;
  font-weight:bold;
  font-size:16px;
}

.footer-dark ul {
  padding:0;
  list-style:none;
  line-height:1.6;
  font-size:14px;
  margin-bottom:0;
}

.footer-dark ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.6;
}

.footer-dark ul a:hover {
  opacity:0.8;
}

@media (max-width:767px) {
  .footer-dark .item:not(.social) {
    text-align:center;
    padding-bottom:20px;
  }
}

.footer-dark .item.text {
  margin-bottom:36px;
}

@media (max-width:767px) {
  .footer-dark .item.text {
    margin-bottom:0;
  }
}

.footer-dark .item.text p {
  opacity:0.6;
  margin-bottom:0;
}

.footer-dark .item.social {
  text-align:center;
}

@media (max-width:991px) {
  .footer-dark .item.social {
    text-align:center;
    margin-top:20px;
  }
}

.footer-dark .item.social > a {
  font-size:20px;
  width:36px;
  height:36px;
  line-height:36px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  box-shadow:0 0 0 1px rgba(255,255,255,0.4);
  margin:0 8px;
  color:#fff;
  opacity:0.75;
}

.footer-dark .item.social > a:hover {
  opacity:0.9;
}

.footer-dark .copyright {
  text-align:center;
  padding-top:24px;
  opacity:0.3;
  font-size:13px;
  margin-bottom:0;
}